<!DOCTYPE html>
<html lang="en">
  <%- include ('header', {title: "Bird Sightings"}) %>
  <body>
    <h1 style="text-align: center">Sighting</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12 info-box">Habitat: <%=habitat%></div>
        <div class="col-md-12 info-box">Date: <%=date%></div>
        <div class="col-md-12 info-box">Appearance: <%=appearance%></div>
        <div class="col-md-12 info-box">Behaviour: <%=behaviour%></div>
        <div class="col-md-12 info-box">Vocalisations: <%=vocalisations%></div>
        <div class="col-md-12 info-box">Flock Size: <%=flock_size%></div>
      </div>
    </div>
  </body>
</html>
